.html {
    display: contents;
}

.div-titolo {
    background-color: #B2F252;
    text-align: center;
    font-size: 40px;
    height: 100px;
    justify-content: center;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-family: Arial;
}

.div-titolo-categoria {
    background-color: #B2F252;
    text-align: center;
    height: auto;
    justify-content: center;
    display: flex;
    align-items: center;
    font-family: Arial;
}

.div-bottoni {
    background-color: #467326;
    display: flex;
    justify-content: center;
}

.div-bottoni-elenchi {
    background-color: #467326;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.div-body {
    background-color: #BFBFBF;
    height: auto;
}

.div-body-home {
    background-color: #BFBFBF;
    height: auto;
}

.div-body-anno {
    background-color: #BFBFBF;
    height: auto;
}

.div-immagini {
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.immagini {
    height: 400px;
    width: auto;
}

.immagini:hover {
    height: 400px;
    width: auto;
    transform: scale(1.2);
}

.div-descrizione {
    background-color: #B2F252;
    text-align: left;
    justify-content: center;
    display: flex;
    align-items: center;
    font-weight: bold;
    flex-direction: column;
    font-size: 18px;
    font-family: Arial;
}

.testo-bottoni {
    text-decoration: none;
    font-weight: bold;
    font-family: Arial;
    color: #000000;
}

.bottoni {
  display: inline-block;
  padding: 10px 15px;
  background-color: #EFF299;
  color: #ffffff;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
}

.footer {
    background-color: #79A637;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: Arial;
}

.testo-centrato {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: Arial;   
}

/* General */
body{
    font: 15px/1.5 Arial, Helvetica,sans-serif;
    padding:0;
    margin:0;
    background-color:#f4f4f4;
}

/* Global */
.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}

ul{
  margin:0;
  padding:0;
}

.button_1{
  height:38px;
  background:#6e00ff;
  border:0;
  padding-left: 20px;
  padding-right:20px;
  color:#ffffff;
}

.dark{
  padding:15px;
  background:#35424a;
  color:#ffffff;
  margin-top:10px;
  margin-bottom:10px;
}

/* Header **/
header{
  background:#B2F252;
  color:#ffffff;
  padding-top:30px;
  min-height:70px;
  border-bottom:#79A637 3px solid;
}

header a{
  color:#ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float:left;
}

header #branding h1{
  margin:0;
}

header nav{
  float:right;
  margin-top:10px;
}

header .highlight, header .current a{
  color:#79A637;
  font-weight:bold;
}

header a:hover{
  color:#000000;
  font-weight:bold;
}

/* Body */
.body_a{
    color:#ffffff;
    text-decoration:none;
    text-transform: uppercase;
    font-size:16px;
}

.body_li{
    float:left;
    display:inline-flex;
    padding: 0 20px 0 20px;
    border:#79A637 3px solid;
}

.body_li_2{
    text-align: center;
    font-family: Arial;
    font-size: large;
}

.body_div_img {
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #BFBFBF;
}

/* Info page */ 

.section-1{
  text-align: left;
  background-color: #B2F252;
}

.section-2{
  text-align: right;
  background-color: #B2F252;
}